*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.card-development{
  font-size: 62.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23.9em;
  min-height: 16.2em;
  background-color: white;
  box-shadow: 0.4em 0.4em 20em #00000029;
  border-radius: 3em;
}

.card-development img {
  position: relative;
  bottom:2.4em;
  width: 6em;
  height: 6em;
} 

.card-development h1{
  position: relative;
  bottom: 1.4em;
  color: #23C7D7;
  font-size: 1.6em;
}

.card-development p{
  position: relative;
  bottom: 1.4em;
  text-align: center;
  color: #0A0B0C;
  font-size: 1.3em;
  margin: 0 2.5em 2.5em 2.5em;
}
