*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#main-development{
    padding-top: 72px;
    overflow: hidden;
}

.Development{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 700px;
}

.development-center{
    width: 70%;
    height: 60%;
}

.development-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.development-text h1{
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #23C7D7;
}

.development-text h5{
    text-align: center;
    font-weight: lighter;
    font-size: 16px;
    margin: 14px 0 30px 0;
    color: #23C7D7;
}

.development-text p{
    width: 480px;
    font-weight: lighter;
    text-align: center;
    font-size: 12px;
    color: #0A0B0C;
}

.cards-development{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 450px;
    background-image: url("../../images/bigball.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.card-development:first-child{
    margin-right: 300px;
}


/*Mobile cards*/
.cards-development-mobile{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 70px;
}

.cards-development-mobile .card-development{
    justify-content: flex-start;
    min-height: 160px;
}

.cards-development-mobile .card-development:first-child{
    margin-right: 20px;
}

.cards-development-mobile h1{
    bottom: 0 !important;
    font-size: 11px !important;
}

.cards-development-mobile p{
    bottom: 0 !important;
    font-size: 11px !important;
    margin: 0 10px 10px 10px !important;
}
