@media (max-width: 1100px) {
    .development-center{
        font-size: 80%;
    }
    .cards-development{
        height: 350px;
    }
    .card-development:first-child{
        margin-right: 230px;
    }

    /*background images*/
    .left{
        height: 40%;
    }
    .left.bottom img{
        left: -500px;
        min-width: 800px;
    }
    .right{
        height: 70%;
    }
}

@media (max-width: 880px) {
    .development-center{
        font-size: 60%;
    }
    .cards-development{
        height: 280px;
    }
    .card-development:first-child{
        margin-right: 140px;
    }

    /*background images*/
    .bottom{
        align-items: flex-start;
    }
    .left{
        height: 55%;
    }
    .left.top img{
        min-width: 950px;
    }
    .left.bottom img{
        min-width: 600px;
        left: -370px;
    }
    .right{
        height: 70%;
    }
    .right img{
        min-width: 500px;
        right: 80px;
    }
}

@media (max-width: 640px) {
    .Development{
        height: 80vh;
        min-height: 700px;
    }
    .development-center{
        font-size: 50%;
    }
    .cards-development{
        height: 200px;
    }
    .card-development:first-child{
        margin-right: 80px;
    }
    .development-text h1{
        font-size: 25px;
    }
    .development-text h5{
        font-size: 12px;
        margin-bottom: 14px;
    }
    .development-text p{
        width: 260px;
        font-size: 12px;
    }

    /*background images*/
    .left.bottom img{
        min-width: 400px;
        left: -250px;
    }
    .left.top img{
        min-width: 900px;
    }
    .right img{
        min-width: 350px;
        right: 100px;
        top:80px;
    }
}

@media (max-width: 480px) {
    .cards-development-mobile{
        display: flex;
    }
    .cards-development .card-development p{
        display: none;
    }
    .cards-development .card-development h1{
        font-size: 13px;
        bottom: 10px;
    }
    .cards-development .card-development{
        min-height: 30px;
        min-width: 70px;
    }
    .card-development:first-child{
        margin-right: 20vw;
    }

    /*background images*/
    .left.bottom img{
        display: none;
    }
    .left.top img{
        bottom: -500px;
    }
    .right{
        position: relative;
        right: 80px;
        top: 560px;
        width: 200px;
        opacity: 1;
        background-image: url("../../images/wave.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .right img{
        display: none;
    }
}