@media (max-width: 980px) {
    .contact-link .main{
        font-size: 29.4% !important;
    }
    .contact-form .main{
        font-size: 45% !important;
    }
}

@media (max-width: 680px) {
    #contato{
        min-height: 500px; 
    }
    .contact-link:first-child{
        left: 20px;
    }
    .contact-link .main{
        font-size: 20.9% !important;
    }
    .contact-form .main{
        font-size: 32% !important;
    }
}

@media (max-width: 480px) {
    #contato{
        flex-direction: column-reverse;
    }
    .contact-link:first-child{
        margin-top: 30px;
        left: 0;
    }
    .contact-link .main{
        font-size: 23.9% !important;
    }
}

@media (max-width: 320px) {
    .contact-form .main{
        font-size: 31% !important;
    }

    
}
