form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
form input,form textarea {
    resize: none;
    margin-bottom: 18px;
    width: 70%;
    outline: none;
    border: none;
    border-bottom: 1px solid #20B7C6 ;
}
form textarea{
    height: 80px;
} 

form input::-webkit-input-placeholder,form textarea::-webkit-input-placeholder {
    color: #20B7C6;
}
  
form input::-moz-placeholder,form textarea::-moz-placeholder{
    color: #20B7C6;  
}
  
form input:-ms-input-placeholder,form textarea:-ms-input-placeholder {  
    color: #20B7C6;  
}