@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


.aboutUs{
    width: 100%;
    height: 100vh;
    min-height: 900px;
    background-color: #96E4EC;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutUs-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    font-size: 2.2vw;
    color:#23C7D7;
    font-weight: 600;
}

.description{
    margin: 0;
    margin-bottom: 30px;
    width: 150px;
    font-size: 12px;
    text-align: center;
}

.carousel{
    width: 100%;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.teste{
    position: relative;
    opacity: 0.08;
    height: 300px;
    width: 0%;
}

.teste img{
    position: relative;
    right: 750px;
    top: 15vw;
    width: 60vw;
    min-width: 1000px;
}

.carousel-list{
    width: 55%;
}

.arrow {
    background-color: #fff;
    position: absolute;
    cursor: pointer;
    z-index: 10;
}
 
.next {
    background: transparent;
    right: -5%;
    top: 40%;
}
  
.prev {
    background: transparent;
    left: -5%;
    top: 40%;
}

.slick-dots li{
    width: 17px;
    height: 17px;
    margin: 0 5px;
    padding: 0;
}
.slick-dots li button{
    padding: 0 !important;
    width: 17px;
    height: 17px;
    background-color: white;
    border: 1px solid #000000;
    border-radius: 17px;
}


.slick-dots li button:before{
    font-size: 17px;
    line-height: 20px;
    content: " ";
    width: 17px;
    height: 17px;
    border-radius: 17px;  
}

.slick-dots li.slick-active button:before{
    background-color: black;
}


