@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

#QuemSomos {
  padding-top: 65px;
  padding-bottom: 85px;
}

.aboutUs {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-us {
  padding-top: 15px;
}

.aboutUs-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  font-size: 2.2vw;
  color: #23c7d7;
  font-weight: 600;
}

.description {
  margin: 0;
  margin-bottom: 30px;
  width: 150px;
  font-size: 12px;
  text-align: center;
}

.carousel {
  width: 100%;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.carousel-list {
  width: 55%;
}

.arrow {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
}

.next {
  background: transparent;
  right: -5%;
  top: 40%;
}

.prev {
  background: transparent;
  left: -5%;
  top: 40%;
}

.slick-dots li {
  width: 17px;
  height: 17px;
  margin: 0 5px;
  padding: 0;
}

.slick-dots li button {
  padding: 0 !important;
  width: 17px;
  height: 17px;
  background-color: white;
  border: 1px solid #000000;
  border-radius: 17px;
}

.slick-dots li button:before {
  font-size: 17px;
  line-height: 20px;
  content: " ";
  width: 17px;
  height: 17px;
  border-radius: 17px;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  background-color: black;
}

@media (max-width: 950px) {
  .carousel-list {
    width: 75%;
  }

  .title {
    font-size: 25px;
  }

  .description {
    font-size: 10px;
  }

  .arrow.next img,
  .arrow.prev img {
    width: 20px !important;
    height: 20px !important;
  }

  .slick-dots li {
    width: 2vw;
    height: 2vw;
    margin: 0 1vw;
  }

  .slick-dots li button {
    width: 2vw;
    height: 2vw;
  }

  .slick-dots li button:before {
    width: 2vw;
    height: 2vw;
  }
}

@media (max-width: 480px) {
  .carousel-list {
    width: 120%;
  }

  .title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .description {
    width: 110px;
    font-size: 9px;
    margin-bottom: 10px;
  }

  .arrow.next img,
  .arrow.prev img {
    bottom: 4px;
    width: 25px !important;
    height: 25px !important;
  }

  .next {
    z-index: 10;
    top: 55.3vw;
  }

  .prev {
    z-index: 10;
    top: 55.3vw;
  }

  .slick-dots li {
    width: 3vw;
    height: 3vw;
    margin: 0 1vw;
  }

  .slick-dots li button {
    width: 3vw;
    height: 3vw;
  }

  .slick-dots li button:before {
    width: 3vw;
    height: 3vw;
  }
}

@media (max-width: 320px) {
  .title {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .description {
    width: 80px;
    font-size: 7px;
    margin-bottom: 10px;
  }

  .arrow.next img,
  .arrow.prev img {
    margin-top: 8.4px;
    width: 18px !important;
    height: 18px !important;
  }
}
