@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


.aboutUs{
    width: 100%;
    min-height: 100vh;
    background-color: #96E4EC;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutUs-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    font-size: 2.2vw;
    color:#23C7D7;
    font-weight: 600;
}

.description{
    margin: 0;
    margin-bottom: 30px;
    width: 150px;
    font-size: 12px;
    text-align: left;
}

.carousel{
    width: 100%;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.carousel-list{
    width: 55%;
}

.arrow {
    background-color: #fff;
    position: absolute;
    cursor: pointer;
    z-index: 10;
}
 
.next {
    background: transparent;
    right: -5%;
    top: 40%;
}
  
.prev {
    background: transparent;
    left: -5%;
    top: 40%;
}


