#EntregaModular {
}

@media (max-width: 800px) {
  .cards-container {
    flex-direction: column;
  }

  .bar {
    width: 118px;
    height: 17px;
    transform: rotate(90deg);
    margin: 29px -1px;
  }

  .card-container {
    flex-direction: column;
    margin: 1.3% 10%;
  }

  .text-container {
    text-align: left;
    margin-top: 3px 0;
  }

  .container {
    display: flex;
    flex-direction: row;
  }

  .waveDotsImg {
    display: none;
  }

  .title-md {
    font-size: 20px;
    margin: 30px auto;
  }
}

@media (max-width: 1098px) {
  .cards-container {
    margin: auto;
  }
}

.callToAction {
  display: flex;
  color: #58cef4;
  font-size: large;
  align-items: center;
}

.waveDotsImg {
  width: 70%;
  position: relative;
  right: 10%;
}

.cards-container {
  display: flex;
  text-align: center;
  padding: 5% 15%;
}
