#ijuniorloop {
  display: flex;
  justify-content: flex-end;
  margin-top: 85px;
}

.banner-text {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  margin: 136px 2.5vw 0 80px;
}

.banner-text p {
  width: 219px;
  height: 90px;
  font-size: 15px;
  text-align: center;
  font-weight: normal;
  color: #0a0b0c;
}

.banner-image {
  margin-top: 54px;
  width: 50%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-text img {
  width: 181px;
  height: 110px;
}

@media (max-width: 700px) {
  #banner {
    min-height: 600px;
    height: calc(80vh - 74px);
    padding: 0;
  }

  .banner-text {
    margin-right: 0;
  }

  .banner-text p {
    width: 160px;
    height: 90px;
    font-size: 11px;
    text-align: center;
    font-weight: normal;
    color: #0a0b0c;
  }

  .banner-text img {
    width: 151px;
    height: 91.767955801px;
  }

  .banner-image {
    background-size: 500px;
  }
}

@media (max-width: 480px) {
  #banner {
    min-height: 600px;
    height: calc(80vh - 74px);
    padding: 0;
  }

  .button,
  .banner-text p {
    position: relative;
    left: 15vw;
    top: 150px;
  }

  .banner-text {
    margin-left: 10vw;
  }
}
