*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    margin-top: 1px;
    position: fixed;
    z-index: 1;
    width:100vw;
    display: flex;
    background: #FFFFFF;
    border: 1px solid #23C7D7;
    box-shadow: 0px 2px 6px #00000029;
    justify-content: center;
    align-items: center;
    padding: 0px 5vw;
    height: 70px;
    font-size: 1.317715vw;
  }
  
.nav{
    display: flex;
    align-items: center;
    width: 100%;
}

.logo-container {
    padding-left: 2.78184480234vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 8.05vw;
    height: 8.05vw;
}

.nav-options{
    width: 100%;
    height:72px;
    place-content: center;
    padding-left: 3.1vw;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 1.8vw;
    list-style-type: none;
}

#nav-link{
    display: flex;
    position: absolute;
    left: 23.4vw;
    top:63px;
    width: 7.863vw;
    height: 6px;
    background: transparent linear-gradient(90deg, #0D7EA6 0%, #5CCCF1 25%, #58CEF4 50%, #32BFEC 75%, #0B98C6 100%) 0% 0% no-repeat padding-box;
    border-radius: 15px 15px 9px 9px;    
    transition: all 0.5s ease;
}

.option{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.option a{
    height: 28px;
    display: flex;
    align-items: flex-end;
    color: #23C7D7;
    text-decoration: none;
}

.option.wave{
    display: none;
}

.mobile-menu {
    display: none;
}

#banner{
    padding-top: 60px;
    height:100vh;
    min-height: 800px;
    display:flex;
    justify-content: flex-end;
}

.banner-text{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    margin: 136px 2.5vw 0 80px;
}   

.banner-text p{
    width: 219px;
    height: 90px;
    font-size: 15px;
    text-align: center;
    font-weight: normal;
    color: #0A0B0C;
}

.banner-image{
    margin-top: 54px;
    width: 50%;
    height:500px;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-text img{
    width: 181px;
    height: 110px;
}

