@media (min-width: 680px) {
  .Analysis {
    height: auto;
  }
  .FirstImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }

  .Topic {
    font-size: 14px;
  }

  .AnalysisTitle {
    font-size: 30px;
  }

  .AnalysisSubtitle {
    font-size: 20px;
  }

  .FirstTopic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .SecondTopic {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .Text {
    width: 40%;
    margin: 0;
  }
}
